* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    background: #2f363e;
}

/* <!-- ===================== HEADER CSS  ====================== --> */


header 
{
    background-color: #1a1a1a;
    padding: 10px 20px;
}

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo 
{
    display: flex;
    align-items: center;
}

.logo img 
{
    height: 40px;
    margin-right: 10px;
}

.logo span 
{
    color: #e0e0e0;
    font-size: 20px;
    letter-spacing: 2px;
}

.search-bar 
{
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 600px;
    margin: 0 20px;
    position: relative;
}

.search-bar input 
{
    width: 100%;
    padding: 8px 40px 8px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.search-bar button 
{
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 57%;
    transform: translateY(-50%);
    padding: 0;
    cursor: pointer;
}

.search-bar button img 
{
    height: 35px;
    width: 35px;
}

.nav-links 
{
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-links li 
{
    margin-left: 20px;
}

.nav-links a 
{
    color: #e0e0e0;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover 
{
    color: #06f422;
}

.nav-links a 
{
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.nav-links a i 
{
    margin-right: 8px; 
    font-size: 18px;
}
